/* .fc-timegrid-slots {
    display: flex;
    flex-direction: column;
    height: 100%;
    & > table {
        flex: 1 1 0%;
    }
}

.fc-timegrid-slot {
    flex: 1 1 0%;
    height: auto !important;
} */
